header {
    height: 100px;
    background-color: #fff;

    div.top{
        height: 20px;
        background-color: $dc_blue;

        .container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        a {
            margin-left: 40px;
            font-size: 0.8em;
            text-decoration: none;
            text-transform: uppercase;
            color: inherit;
        }
    }

    div.bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(100% - 20px);

        a.logo {
            height: 100%;
            padding: 10px 0;
            img {
                height: 100%;
            }
        }

        ul {
            display: flex;
            height: 100%;
            list-style: none;

            li {
                height: 100%;
                line-height: 80px;

                &:not(:first-child) {
                    margin-left: 15px;
                }

                a {
                    height: 100%;
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    border-bottom: 4px solid transparent;
                    color: $dc_black;

                    &.active {
                        border-bottom: 4px solid $dc_blue;
                        color: $dc_blue;
                    }

                    &:hover:not(.active),
                    i {
                        color: $dc_blue;
                    }
                }
            }
        }
    }
}
